<app-bread-crumb [items]="[ { label: 'Lançamentos', link: '/entries' }, { label: this.pageTitle } ]"></app-bread-crumb>

<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col-md-3">
    <a class="btn btn-light float-right" routerLink="/entries">
      << Voltar
    </a>
  </div>
</div>

<form (submit)="submitForm()" [formGroup]="form">

  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>

    <div class="card-body">

      <div class="form-row">

        <!--type-->
        <div class="form-group col-md-4">
          <label for="type">Tipo</label>
          <select class="form-control" formControlName="type" id="type" name="type">
            <option *ngFor="let option of typeOptions" [ngValue]="option.field">{{option.text}}</option>
          </select>
          <div *ngIf="form.get('type').invalid && form.get('type').touched" class="text-danger">
            <div *ngIf="form.get('type').errors.required">
              Dado obrigatório
            </div>
          </div>
        </div>

        <!--categoryId-->
        <div class="form-group col-md-4 float-right">
          <label for="categoryId">Categoria</label>
          <select class="form-control" formControlName="categoryId" id="categoryId" name="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <div *ngIf="form.get('categoryId').invalid && form.get('categoryId').touched" class="text-danger">
            <div *ngIf="form.get('categoryId').errors.required">
              Dado obrigatório
            </div>
          </div>
        </div>

        <!--paid-->
        <div class="form-group col-md-2">
          <label>Pago</label>

          <div class="btn-group">
            <label (click)="form.get('paid').setValue(true)"
                   [class.active]="form.get('paid').value === true"
                   class="btn col-auto btn-outline-info">Pago</label>
            <label (click)="form.get('paid').setValue(false)"
                   [class.active]="form.get('paid').value === false"
                   class="btn btn-outline-danger">Pendente</label>
          </div>

          <div *ngIf="form.get('paid').invalid && form.get('paid').touched" class="text-danger">
            <div *ngIf="form.get('paid').errors.required">Dado obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!--name-->
        <div class="form-group col-md-6">
          <label for="name">Lançamento</label>
          <input class="form-control" formControlName="name" id="name" type="text">
          <div *ngIf="form.get('name').invalid && form.get('name').touched" class="text-danger">
            <div *ngIf="form.get('name').errors.required">Dado obrigatório</div>
            <div *ngIf="form.get('name').errors.minlength">Deve ter no mínimo 2 caracteres</div>
          </div>
        </div>
        <!--amount-->
        <div class="form-group col-md-2">
          <label class="align-content-around" for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="numberMaskConfig" class="form-control text-right" formControlName="amount" id="amount"
                   type="text">
          </div>
          <div *ngIf="form.get('amount').invalid && form.get('amount').touched" class="text-danger">
            <div *ngIf="form.get('amount').errors.required">Dado obrigatório</div>
          </div>
        </div>

        <!--date-->
        <div class="form-group col-sm-2">
          <label for="date">Data</label>
          <p-calendar
              [locale]="ptBr"
              [showButtonBar]="true"
              dataType="string"
              dateFormat="dd/mm/yy"
              formControlName="date"
              id="date"
              inputStyleClass="form-control"
          >

          </p-calendar>
          <div *ngIf="form.get('date').invalid && form.get('date').touched" class="text-danger">
            <div *ngIf="form.get('date').errors.required">Dado obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!--description-->
        <div class="form-group col-md-12">
          <label for="description">Descrição</label>
          <input class="form-control" formControlName="description" id="description" type="text">
        </div>
      </div>

    </div>

  </div>

  <div *ngIf="serverErrorMessages" class="alert alert-danger mt-4">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">
        {{error}}
      </li>
    </ul>
  </div>

  <button [disabled]="submittingForm || form.invalid"
          class="btn btn-primary btn-lg float-right mt-3 "
          type="submit">
    Salvar
  </button>
</form>


<pre>{{form.value | json}}</pre>
