<app-bread-crumb [items]="[ { label: 'Lançamentos', link: '/entries' }, { label: this.pageTitle } ]"></app-bread-crumb>
<app-page-header
    [title]="pageTitle"
    [btnLabel]="'<< Voltar'"
    [btnLink]="'/entries'"
    [btnClass]="'btn-light'">
</app-page-header>

<form (submit)="submitForm()" [formGroup]="form">

  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>

    <div class="card-body">

      <div class="form-row">

        <!--type-->
        <div class="form-group col-md-4">
          <label for="type">Tipo</label>
          <select class="form-control" formControlName="type" id="type" name="type">
            <option *ngFor="let option of typeOptions" [ngValue]="option.field">{{option.text}}</option>
          </select>
          <app-form-field-error [fieldControl]="form.get('type')"></app-form-field-error>
          <div *ngIf="form.get('type').invalid && form.get('type').touched" class="text-danger">
            <div *ngIf="form.get('type').errors.required">
              Dado obrigatório
            </div>
          </div>
        </div>

        <!--categoryId-->
        <div class="form-group col-md-4 float-right">
          <label for="categoryId">Categoria</label>
          <select class="form-control" formControlName="categoryId" id="categoryId" name="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <div *ngIf="form.get('categoryId').invalid && form.get('categoryId').touched" class="text-danger">
            <div *ngIf="form.get('categoryId').errors.required">
              Dado obrigatório
            </div>
          </div>
        </div>

        <!--paid-->
        <div class="form-group col-md-2">
          <label>Pago</label>

          <div class="btn-group">
            <label (click)="form.get('paid').setValue(true)"
                   [class.active]="form.get('paid').value === true"
                   class="btn col-auto btn-outline-info">Pago</label>
            <label (click)="form.get('paid').setValue(false)"
                   [class.active]="form.get('paid').value === false"
                   class="btn btn-outline-danger">Pendente</label>
          </div>
          <app-form-field-error [fieldControl]="form.get('paid')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
        <!--name-->
        <div class="form-group col-md-6">
          <label for="name">Lançamento</label>
          <input class="form-control" formControlName="name" id="name" type="text">
          <app-form-field-error [fieldControl]="form.get('name')"></app-form-field-error>
        </div>
        <!--amount-->
        <div class="form-group col-md-2">
          <label class="align-content-around" for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="numberMaskConfig" class="form-control text-right" formControlName="amount" id="amount"
                   type="text">
          </div>
          <app-form-field-error [fieldControl]="form.get('amount')"></app-form-field-error>
        </div>

        <!--date-->
        <div class="form-group col-sm-2">
          <label for="date">Data</label>
          <p-calendar
              [locale]="ptBr"
              [showButtonBar]="true"
              dataType="string"
              dateFormat="dd/mm/yy"
              formControlName="date"
              id="date"
              inputStyleClass="form-control"
          >
          </p-calendar>
          <app-form-field-error [fieldControl]="form.get('date')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
        <!--description-->
        <div class="form-group col-md-12">
          <label for="description">Descrição</label>
          <input class="form-control" formControlName="description" id="description" type="text">
        </div>
      </div>

    </div>

  </div>

  <app-server-error-message [messages]="serverErrorMessages"></app-server-error-message>

  <button [disabled]="submittingForm || form.invalid"
          class="btn btn-primary btn-lg float-right mt-3 "
          type="submit">
    Salvar
  </button>
</form>

